language: node_js

os:
  - linux
  - osx

node_js:
  - "node"

script:
  - npm install
  # - npm run lint

after_success:
  - now deploy --target staging --token=$NOW_TOKEN
  - npm run lh -- https://blog.bukhalo.com  
