language: node_js

os:
  - linux
  - osx

node_js:
  - "node"

jobs:
  include:
    - stage: "Build"
      script: yarn
    - stage: "Tests"
      name: "Lighthouse"
      if: type = pull_request
      script:
        - LIGHTHOUSE_URL=$(now deploy --token=$NOW_TOKEN)
        - yarn lh -- $LIGHTHOUSE_URL