language: node_js

os:
  - linux
  - osx

node_js:
  - "node"

stages:
  - build
  - test

jobs:
  include:
    - stage: build
      script: yarn
    - stage: test
      name: "Lighthouse"
      if: type = pull_request
      script:
        - LIGHTHOUSE_URL=$(now deploy --token=$NOW_TOKEN)
        - yarn lh -- $LIGHTHOUSE_URL